<div class="profile-container">
  <div class="header"></div>
  <div *ngIf="id" class="fb-buttons">
    <button *ngIf="!userService.followings.get(id)" (click)="follow(id)" class="white-button">Follow</button>
    <button *ngIf="userService.followings.get(id)" (click)="unfollow(id)" class="white-button">Unfollow</button>
    <button *ngIf="!userService.blocks.get(id)" (click)="block(id)" class="white-button">Block</button>
    <button *ngIf="userService.blocks.get(id)" (click)="pardon(id)" class="white-button">Unblock</button>
  </div>

  <div class="profile-pic-container">
    <div class="img-container">
      <label for="imgChanger">
        <img loading="lazy" [src]="image">
        <img loading="lazy" *ngIf="!id" id="edit" src="assets/icons/feed/pencil-edit.png">
      </label>
      <input *ngIf="!id" (change)="fileChangeEvent(imgInput)" type="file" id="imgChanger" style="display: none" #imgInput>
    </div>
    <h2>{{username}}</h2>
  </div>
  <p id="summary" [contentEditable]="!id"  #sumText>{{summary}}</p>
  <div class="info-container">
    <div class="info">
      <img src="assets/icons/feed/eye.png">
      <p>{{views}}</p>
    </div>
    <div class="info" [id]="id ? '' : 'info-followers'">
      <a [routerLink]="id ? null : '/follows'"><img src="assets/icons/signUp/usuario.png" alt=""></a>
      <p>{{followers}}</p>
    </div>
    <div class="info">
      <img src="assets/iconSheep.png" id="buttonSheep">
      <p>{{points}}</p>
    </div>
  </div>
  <hr>
  <div class="aboutMe-container">
    <textarea [disabled]="id" name="aboutMe" id="aboutMe" cols="30" rows="6" placeholder="About me..." #descArea>{{description}}</textarea>
    <button *ngIf="!id" (click)="setDescription()" class="white-button" #descBtn>Publish changes</button>
  </div>
</div>
