<div class="settings-profile-container">
  <div class="settings-blocked">
    <div class="header"></div>
    <div class="users">
      <div *ngFor="let b of blocks" class="profile">
        <div class="profile-img">
          <img [src]="b.image_url">
        </div>
        <div class="profile-info-container">
          <h3>{{b.blocked_id.username}}</h3>
          <div class="profile-info">
            <div class="info">
              <img src="../../assets/icons/feed/eye.png">
              <p>{{b.blocked_id.views}}</p>
            </div>
            <div class="info">
              <img src="../../assets/icons/signUp/usuario.png">
              <p>{{b.followers}}</p>
            </div>
            <div class="info">
              <img src="../../assets/iconSheep.png">
              <p>{{b.points}}</p>
            </div>
          </div>
        </div>
        <div class="buttons" id="buttons-fb">
          <button (click)="unblock(b.blocked_id._id)"><img src="../../assets/icons/feed/bloquear-usuario.png">Unblock</button>
        </div>
      </div>
    </div>
  </div>
</div>
