<div class="settings-profile-container">
  <div class="settings-blocked">
    <div class="header"></div>
    <div class="users">
      <div class="profile">
        <div class="profile-img">
          <img src="../assets/profile-pic.jpg">
        </div>
        <div class="profile-info-container">
          <h3>Aorih</h3>
          <div class="profile-info">
            <div class="info">
              <img src="../../assets/icons/feed/eye.png">
              <p>2000</p>
            </div>
            <div class="info">
              <img src="../../assets/icons/signUp/usuario.png">
              <p>1000</p>
            </div>
            <div class="info">
              <img src="../../assets/iconSheep.png">
              <p>500</p>
            </div>
          </div>
        </div>
        <div class="buttons" id="buttons-fb">
          <button><img src="../../assets/icons/feed/bloquear-usuario.png">Unblock</button>
        </div>
      </div>
    </div>
  </div>
</div>
