
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

h1,h2, button, textarea{
  font-family: "Poppins";
}

button{
  font-size: 12px;
}

hr{
  height: 0.5px;
  width: 100%;
  background-color: #EF443C;
  border: none;
}

button:hover{
  cursor: pointer;
}

.white-button, .red-button:hover{
  background-color: white;
  color: #EF443C;
  border: 1px #EF443C solid;
  border-radius: 50px;
  padding: 6px;
  width: fit-content;
}


.red-button, .white-button:hover{
  background-color: #EF443C;
  color: white;
  border-radius: 50px;
  padding: 6px;
  width: fit-content;
  border: 1px #EF443C solid;
}

/* BACKGROUND IMAGE */

.background-img-container{
  position: relative;
}

.background-img-container img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.background-img-container .edit-icon-container{
  position: absolute;
  background-color: #EF443C;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  margin: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.background-img-container .edit-icon-container img{
  width: 20px;
  height: auto;
}

.background-img-container .edit-icon-container:hover{
  cursor: pointer;
}

/* feed */

.post-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: -1px 1px 15px -4px rgba(0,0,0,0.75);
  width: 500px;
  height: 100vh;
}

.post-container
.header{
  background-color: #EF443C;
  width: 500px;
  height: 25px;
  position: absolute;
}

.post-container
.go-back{
  display: flex;
  position: relative;
  top: 25px;
  border-bottom: 0.5px solid #EF443C;
  align-items: center;
  height: 30px;
  background-color: white;
}

.post-container .go-back
img{
  width: 20px;
  margin-left: 15px;
}

.post-container .go-back
img:hover{
  cursor: pointer;
}

.post-container
.post .og-post{
  display: flex;
  flex-direction: column;
}

.post-container
.post-comment-container{
  overflow: scroll;
  height: 100vh;
}

.post-container
.post-comment-container::-webkit-scrollbar{
  display: none;
}

.post-container .post-comment-container
.post-top{
  margin: 45px 30px 10px 30px;
}

.post-container .og-post
.img-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.post-container .og-post
.img-text:hover{
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 30px;
}

.post-container .og-post
.img-text:hover .buttons-fb{
  display: flex;
}

.post-container .og-post
.p{
  word-wrap: break-word;
}

.post-container .og-post .img-text
.buttons{
  margin-left: auto;
  margin-right: 0;
  flex-direction: row;
  gap: 7px;
  display: none;
}

.post-options-mobile{
  width: 100%;
  position: relative;
}

.post-options-mobile > svg{
  float: right;
  opacity: 0.6;
}

.post-options-mobile-container{
  display: none;
  width: 154px;
  height: 100px;
  background-color: #EF443C;
  position: absolute;
  right: 4px;
  top: 23px;
}

.post-container .og-post .img-text
.buttons button{
  background: none;
  border: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.post-container .og-post .img-text
.buttons button:first-child:hover{
  filter: invert(41%) sepia(66%) saturate(569%) hue-rotate(165deg) brightness(100%) contrast(91%);}

.post-container .og-post .img-text
.buttons button:last-child:hover{
  filter: invert(46%) sepia(59%) saturate(5695%) hue-rotate(340deg) brightness(98%) contrast(92%);
}
.post-container .og-post .img-text
.buttons img{
  width: 16px;
}

.post-container .og-post .img-text
> img{
  min-width: 55px;
  max-height: 55px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px #EF443C solid;
  background-color: blanchedalmond;
}

.post-container .og-post .img-text
.text{
  display: flex;
  flex-direction: column;
}

.post-container .og-post .img-text div
p:first-child{
  font-weight: bold;
  font-size: 15px;
}

.post-container .og-post .post-content
> img{
  max-width: 100%;
  max-height: 800px;
  border-radius: 5px;
  object-fit: cover;

}

.post-container
.og-post .post-content > p{
  margin-bottom: 12px;
  font-size: 14px;
}

.post-container .og-post .post-content
.reaction{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 12px;
  margin-top: 10px;
}

.post-container .og-post .post-content .reaction p{
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 10px;
}

.post-container .og-post .post-content .reaction p
img{
  width: 12px;
}

.post-container
.user-comment{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 13px;
}

.comments hr{
  margin-top: 10px;
}

.post-container .user-comment
img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid #EF443C;
  object-fit: cover;
}

.post-container .user-comment
textarea{
  border: none;
  background-color: #F0F0F0;
  outline: none;
  color: #2d2d2d;
  margin: 0px 0px 0px 20px;
  border-radius: 10px;
  width: 359px;
  height: 67px;
  resize: none;
  padding: 10px;
  font-size: 12px;
}

.post-container .user-comment
textarea::-webkit-scrollbar{
  display: none;
}

.post-container .user-comment
textarea::placeholder{
  font-size: 12px;
}

.post-container .post-comment-container
button{
  height: 26px;
  width: 50px;
  font-size: 11px;
  margin-top: 6px;
  margin-right: 10px;
  margin-left: auto;
  display: block;
  padding: 1px;
}


/* comment */

.post-container
.post .comment{
  display: flex;
  flex-direction: column;
  margin: 30px 30px 10px 30px;
}

.post-container .comment
.img-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.post-container .comment .img-text
p{
  font-size: 10px;
}

.post-container .comment
.img-text:hover{
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 30px;
}

.post-container .comment
.img-text:hover .buttons-fb{
  display: flex;
}

.post-container .comment
.p{
  word-wrap: break-word;
}

.post-container .comment .img-text
.buttons{
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  gap: 7px;
  display: none;
}

.post-container .comment .img-text
.buttons button{
  background: none;
  border: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 2px;
  width: auto;
}

.post-container .comment .img-text
.buttons button:first-child:hover{
  filter: invert(41%) sepia(66%) saturate(569%) hue-rotate(165deg) brightness(100%) contrast(91%);}

.post-container .comment .img-text
.buttons button:last-child:hover{
  filter: invert(46%) sepia(59%) saturate(5695%) hue-rotate(340deg) brightness(98%) contrast(92%);
}
.post-container .comment .img-text
.buttons img{
  width: 14px;
}

.post-container .comment .img-text
> img{
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px #EF443C solid;
}

.post-container .comment .img-text
.text{
  display: flex;
  flex-direction: column;
}

.post-container .comment .img-text div
p:first-child{
  font-weight: bold;
  font-size: 13px;
}

.post-container .comment .post-content
> img{
  max-width: 100%;
  max-height: 260px;
  border-radius: 5px;
  object-fit: cover;

}

.post-container
.comment .post-content > p{
  margin-bottom: 12px;
  font-size: 12px;
}

.post-container .comment .post-content
.reaction{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 12px;
  margin-top: 10px;
}

.post-container .comment .post-content .reaction
p{
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 10px;
}

.post-container .comment .post-content .reaction p
img{
  width: 12px;
}

/* NG SKELETON LOADER */
.loader{
  margin: 30px 30px;
}
.loader-title{
  display: inline-flex;
}
.loader-title ngx-skeleton-loader:last-child{
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.loader-content ngx-skeleton-loader:last-child{
  display: flex;
  justify-content: end;
}


/* back to top */
#myBtn {
  margin-top: 10px;
  margin-left: auto;
  display: none;
  z-index: 99;
  cursor: pointer;
  width: 20px;
  margin-right: 28px;
}

.comments:after{
  content: "";
  display: block;
  width: 100%;
  height: 80px;
}

#loaderDiv{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.loader {
  width: 35px;
  height: 35px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scaleIcon{
  0% {transform: scale(1)}
  100% {transform: scale(1.1)}
}

@media (max-width: 1336px) {
  .post-container, .header{
    width: 100% !important;
  }

  .post-container .user-comment{
    width: 100%;
  }
  .post-container .user-comment img{
    min-width: 50px;
  }
  .post-container .user-comment textarea{
    width: inherit;
  }

  .post-container .og-post .img-text:hover .buttons-fb{
    display: none;
  }

}
