<div class="post-container">
  <div class="header"></div>
  <div class="post">
    <div class="go-back">
      <img loading="lazy" src="../../assets/icons/feed/flecha.png" (click)="history.back()" alt="Arrow left">
    </div>
    <div *ngIf="isLoading" id="loaderDiv">
      <span class="loader"></span>
    </div>
    <div *ngIf="!isLoading" (scroll)="loadNext()" class="post-comment-container" id="comment-container" #commentDiv>
      <div class="post-top">
        <div class="og-post">
          <div class="img-text">
            <img loading="lazy" [src]="data.imageUserPost" alt="Profile pic">
            <div class="text">
              <p>{{data.username}}</p>
              <p>{{data.created_at | date: 'short'}}</p>
            </div>
            <div *ngIf="data.idUser !== data.loggedId" class="buttons buttons-fb">
              <button
                *ngIf="!userService.followings.get(data.idUser)"
                (click)="userService.follow(data.idUser)">
                <img src="../../assets/icons/feed/agregar-usuario.png" alt="Follow">Follow
              </button>
              <button
                *ngIf="userService.followings.get(data.idUser)"
                (click)="userService.unfollow(data.idUser)">
                <img src="../../assets/icons/feed/agregar-usuario.png" alt="Unfollow">Unfollow
              </button>
              <button
                *ngIf="!userService.blocks.get(data.idUser)"
                (click)="block(data.idUser)">
                <img src="../../assets/icons/feed/bloquear-usuario.png" alt="Block">Block
              </button>
            </div>
            <div class="post-options-mobile">
              <svg (click)="optContainer.focus();" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"/>
              </svg>
              <div class="post-options-mobile-container" #optContainer>

              </div>
            </div>
            <div *ngIf="data.idUser === data.loggedId" class="buttons buttons-fb">
              <button
                style="width: auto"
                (click)="delete('post')">
                <img src="assets/icons/feed/deletePost.png" alt="Delete post">Delete Post
              </button>
            </div>
          </div>
          <div class="post-content">
            <p>{{data.content}}</p>
            <img *ngIf="data.attached_file" src="{{data.attached_file}}" alt="attached file">
            <div class="reaction">
              <p style="cursor: pointer">
                <img *ngIf="!isLiked"
                     (click)="likePost()"
                     src="assets/icons/feed/heart.png" alt="Like">
                <img *ngIf="isLiked"
                     (click)="unlikePost()"
                     src="../../assets/icons/feed/redFilledHeart.png" alt="Like">
                {{data.likes}}
              </p>
              <p><img src="../../assets/icons/feed/mensaje.png" alt="Comments">{{data.comments}}</p>
            </div>
          </div>
        </div>
        <div class="user-comment">
          <img [src]="imageLoggedUser" alt="Profile Pic">
          <textarea (keydown)="keyPressEvent($event)" id="commentArea" maxlength="250" cols="30" rows="10" placeholder="Leave your comment" #commentArea></textarea>
        </div>
        <button (click)="postComment()" class="red-button" #postBtn>Post</button>
      </div>
      <hr>
      <app-comments-loader *ngIf="isCommentLoading && data.comments > 0"></app-comments-loader>
      <div *ngIf="!isCommentLoading" class="comments">
        <div *ngFor="let c of comments" class="comment">
          <div class="img-text">
            <img src="{{c.user_id.profile_pic}}" alt="Profile pic">
            <div class="text">
              <p>{{c.user_id.username}}</p>
              <p>{{c.created_at | date: 'short'}}</p>
            </div>
            <div *ngIf="c.user_id._id !== data.loggedId" class="buttons buttons-fb">
              <button>
                <img src="../../assets/icons/feed/agregar-usuario.png" alt="Follow">Follow
              </button>
              <button>
                <img src="../../assets/icons/feed/bloquear-usuario.png" alt="Block">Block
              </button>
            </div>
            <div *ngIf="c.user_id._id === data.loggedId" class="buttons buttons-fb">
              <button
                (click)="delete('comment', c)">
                <img src="assets/icons/feed/deletePost.png" alt="Delete comment">Delete Comment
              </button>
            </div>
          </div>
          <div class="post-content">
            <p>{{c.content}}</p>
            <div class="reaction">
              <p>
                <img *ngIf="commentService._likedComments.indexOf(c._id) >= 0"
                  src="../../assets/icons/feed/redFilledHeart.png"
                  (click)="commentService.unlike(c); c.likes = c.likes-1;"
                  style="cursor: pointer" alt="Like">
                <img
                  *ngIf="commentService._likedComments.indexOf(c._id) < 0"
                  src="../../assets/icons/feed/heart.png"
                  (click)="commentService.like(c, postId); c.likes = c.likes+1;"
                  style="cursor: pointer;" alt="Like">
                {{c.likes}}
              </p>
            </div>
          </div>
          <hr>
        </div>
        <app-comments-loader *ngIf="isLoadingNext" count="2"></app-comments-loader>
      </div>
    </div>
  </div>
  <img id="myBtn" src="../../assets/icons/feed/flecha-arriba.png" alt="Arrow up">
</div>
