
<!--<div class="alert" id="alert">-->
<!--  <h2>-->
<!--    Beery good! <br>-->
<!--    You've earned <br>-->
<!--    50 points!-->
<!--  </h2>-->
<!--  <img src="assets/alert.png">-->
<!--</div>-->

<app-navbar></app-navbar>

<div class="background-img-container">
  <div class="edit-icon-container">
    <img src="assets/icons/index/editing.png">
  </div>
  <img src="assets/bg-img.jpg">
</div>

<div class="content-container">
  <div class="content">
    <div class="profile-container">
      <div class="header"></div>
      <div class="profile-pic-container">
        <div class="img-container">
          <img src="assets/profile-pic.jpg">
          <img id="edit" src="assets/icons/index/pencil-edit.png">
        </div>
        <h2>Aorih</h2>
        <p>Galletita Profesional</p>
      </div>
      <div class="info-container">
        <div class="info">
          <img src="assets/icons/index/eye.png">
          <p>2000</p>
        </div>
        <div class="info" id="info-followers">
          <a href="pages/follows.html"><img src="assets/icons/signUp/usuario.png" alt=""></a>
          <p>1000</p>
        </div>
        <div class="info">
          <img src="assets/iconSheep.png" id="buttonSheep">
          <p>500</p>
        </div>
      </div>
      <hr>
      <div class="aboutMe-container">
        <textarea name="aboutMe" id="aboutMe" cols="30" rows="6" placeholder="About me..."></textarea>
        <button class="white-button">Publish changes</button>
      </div>
    </div>

    <div class="feed-container">
      <div class="header"></div>
      <div class="feed">
        <div class="my-post">
          <div class="img-post">
            <div class="profile-img">
              <img src="assets/profile-pic.jpg">
            </div>
            <div>
              <textarea name="post" id="post" placeholder="Write here..."></textarea>
            </div>
          </div>
          <div class="post-buttons">
            <div class="attach-post">
              <div><button class="red-button"><img src="assets/icons/index/imagen.png">Image</button></div>
              <div><button class="red-button"><img src="assets/icons/index/clip.png">Document</button></div>
            </div>
            <div class="post">
              <button class="white-button">Post</button>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button>Feed</button>
          <button>My Posts</button>
        </div>
        <div class="posts">
          <div class="post">
            <div class="img-text">
              <img src="assets/profile-pic.jpg">
              <div class="text">
                <p>Aorih</p>
                <p>Hoy a las 12:04</p>
              </div>
              <div class="buttons" id="buttons-fb">
                <button><img src="assets/icons/index/agregar-usuario.png">Follow</button>
                <button><img src="assets/icons/index/bloquear-usuario.png">Block</button>
              </div>
            </div>
            <div onclick="location.href= 'post.html'" class="post-content">
              <p>Me ha gustado mucho esta maravillosa experiencia en el abismo de la oscuridad</p>
              <img src="assets/bg-img.jpg">
              <div class="reaction">
                <p><img src="assets/icons/index/heart.png">200</p>
                <p><img src="assets/icons/index/mensaje.png">500</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="post">
            <div class="img-text">
              <img src="assets/profile-pic.jpg">
              <div class="text">
                <p>Aorih</p>
                <p>Hoy a las 12:04</p>
              </div>
              <div class="buttons" id="buttons-fb">
                <button><img src="assets/icons/index/agregar-usuario.png">Follow</button>
                <button><img src="assets/icons/index/bloquear-usuario.png">Block</button>
              </div>
            </div>
            <div onclick="location.href= 'post.html'" class="post-content">
              <p>Me ha gustado mucho esta maravillosa experiencia en el abismo de la oscuridad</p>
              <img src="assets/bg-img.jpg">
              <div class="reaction">
                <p><img src="assets/icons/index/heart.png">200</p>
                <p><img src="assets/icons/index/mensaje.png">500</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="post">
            <div class="img-text">
              <img src="assets/profile-pic.jpg">
              <div class="text">
                <p>Aorih</p>
                <p>Hoy a las 12:04</p>
              </div>
              <div class="buttons" id="buttons-fb">
                <button><img src="assets/icons/index/agregar-usuario.png">Follow</button>
                <button><img src="assets/icons/index/bloquear-usuario.png">Block</button>
              </div>
            </div>
            <div onclick="location.href= 'post.html'" class="post-content">
              <p>Me ha gustado mucho esta maravillosa experiencia en el abismo de la oscuridad</p>
              <img src="assets/bg-img.jpg">
              <div class="reaction">
                <p><img src="assets/icons/index/heart.png">200</p>
                <p><img src="assets/icons/index/mensaje.png">500</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="post">
            <div class="img-text">
              <img src="assets/profile-pic.jpg">
              <div class="text">
                <p>Aorih</p>
                <p>Hoy a las 12:04</p>
              </div>
              <div class="buttons" id="buttons-fb">
                <button><img src="assets/icons/index/agregar-usuario.png">Follow</button>
                <button><img src="assets/icons/index/bloquear-usuario.png">Block</button>
              </div>
            </div>
            <div onclick="location.href= 'post.html'" class="post-content">
              <p>Me ha gustado mucho esta maravillosa experiencia en el abismo de la oscuridad</p>
              <img src="assets/bg-img.jpg">
              <div class="reaction">
                <p><img src="assets/icons/index/heart.png">200</p>
                <p><img src="assets/icons/index/mensaje.png">500</p>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>

    <div class="month-profile-container">
      <h2>Monthly Profiles</h2>
      <div class="profile-container">
        <div class="profile">
          <div class="line"></div>
          <div class="number" id="first">1</div>
          <div class="profile-img">
            <img src="assets/profile-pic.jpg">
          </div>
          <div class="profile-info-container">
            <h3>Aorih</h3>
            <div class="profile-info">
              <div class="info">
                <img src="assets/icons/index/eye.png">
                <p>2000</p>
              </div>
              <div class="info">
                <img src="assets/icons/signUp/usuario.png">
                <p>1000</p>
              </div>
              <div class="info">
                <img src="assets/iconSheep.png">
                <p>500</p>
              </div>
            </div>
          </div>
        </div>
        <div class="profile">
          <div class="line"></div>
          <div class="number" id="second">2</div>
          <div class="profile-img">
            <img src="assets/profile-pic.jpg">
          </div>
          <div class="profile-info-container">
            <h3>Aorih</h3>
            <div class="profile-info">
              <div class="info">
                <img src="assets/icons/index/eye.png">
                <p>2000</p>
              </div>
              <div class="info">
                <img src="assets/icons/signUp/usuario.png">
                <p>1000</p>
              </div>
              <div class="info">
                <img src="assets/iconSheep.png">
                <p>500</p>
              </div>
            </div>
          </div>
        </div>
        <div class="profile">
          <div class="line"></div>
          <div class="number" id="third">3</div>
          <div class="profile-img">
            <img src="assets/profile-pic.jpg">
          </div>
          <div class="profile-info-container">
            <h3>Aorih</h3>
            <div class="profile-info">
              <div class="info">
                <img src="assets/icons/index/eye.png">
                <p>2000</p>
              </div>
              <div class="info">
                <img src="assets/icons/signUp/usuario.png">
                <p>1000</p>
              </div>
              <div class="info">
                <img src="assets/iconSheep.png">
                <p>500</p>
              </div>
            </div>
          </div>
        </div>
        <div class="profile">
          <div class="line"></div>
          <div class="number">4</div>
          <div class="profile-img">
            <img src="assets/profile-pic.jpg">
          </div>
          <div class="profile-info-container">
            <h3>Aorih</h3>
            <div class="profile-info">
              <div class="info">
                <img src="assets/icons/index/eye.png">
                <p>2000</p>
              </div>
              <div class="info">
                <img src="assets/icons/signUp/usuario.png">
                <p>1000</p>
              </div>
              <div class="info">
                <img src="assets/iconSheep.png">
                <p>500</p>
              </div>
            </div>
          </div>
        </div>
        <div class="profile">
          <div class="line"></div>
          <div class="number">5</div>
          <div class="profile-img">
            <img src="assets/profile-pic.jpg">
          </div>
          <div class="profile-info-container">
            <h3>Aorih</h3>
            <div class="profile-info">
              <div class="info">
                <img src="assets/icons/index/eye.png">
                <p>2000</p>
              </div>
              <div class="info">
                <img src="assets/icons/signUp/usuario.png">
                <p>1000</p>
              </div>
              <div class="info">
                <img src="assets/iconSheep.png">
                <p>500</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<script src="js/navTopBar.js"></script>-->
<!--<script src="js/index.js"></script>-->
