<app-navbar></app-navbar>

<div class="background-img-container">
<!--  <div class="edit-icon-container">-->
<!--    <img src="assets/icons/feed/editing.png">-->
<!--  </div>-->
  <img loading="lazy" src="assets/redbgdefault.jpg">
</div>

<div class="content-container">
  <div class="content">
    <app-profile [id]="id" [image]="image" (imageChange)="imageChangeEvent($event)"></app-profile>
    <div *ngIf="!viewing_post" class="feed-container">
      <div class="header"></div>
      <div class="feed">
        <div *ngIf="!id" class="my-post">
          <div class="img-post">
            <div class="profile-img">
              <ngx-skeleton-loader
                *ngIf="isLoading"
                appearance="circle"
                [theme]="{
                  'width':'80px',
                  'height':'80px',
                  'margin':'0',
                  'padding':'0'
                }"
              ></ngx-skeleton-loader>
              <img *ngIf="!isLoading" loading="lazy" [src]="image">
            </div>
            <div>
              <div class="text-area-container">
                <textarea name="post" [maxLength]="500" id="post" placeholder="Write here..." #postArea></textarea>
              </div>
              <div *ngIf="postImage" style="display: flex; gap: 10px; align-items: center; position: absolute">
                <pre>{{postImage.name}}</pre>
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512" style="fill: #000000; cursor: pointer"
                     (click)="postImage = null">
                  <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="post-buttons">
            <div class="attach-post">
              <div>
                <label for="image" class="red-button">
                  <img loading="lazy" src="assets/icons/feed/imagen.png">
                  Image
                  <input (change)="uploadImage(fileInput)" type="file" id="image" style="display: none" #fileInput>
                </label>
              </div>
<!--              <div><button type="button" class="red-button"><img loading="lazy" src="assets/icons/feed/clip.png">Document</button></div>-->
            </div>
            <div class="post">
              <button (click)="post()" class="white-button" #postBtn>Post</button>
            </div>
          </div>
        </div>
        <div *ngIf="!id" class="buttons">
          <button (click)="activeArray = feed" [ngClass]="activeArray === feed ? 'active' : ''">Feed</button>
          <button (click)="activeArray = posts" [ngClass]="activeArray === posts ? 'active': ''">My Posts
            <div *ngIf="paginationPosts" class="counter">[ {{paginationPosts.total_items}} ]</div>
          </button>
        </div>
        <app-feed-loader *ngIf="isLoading"></app-feed-loader>
        <div (scrollend)="loadNext()" *ngIf="!userService.blocks.get(id!) && !isLoading" class="posts">
          <div *ngFor="let post of activeArray" class="post">
            <div class="img-text">
              <img loading="lazy" src="{{activeArray === feed ? post.user_id.profile_pic : image}}">
              <div class="text">
                <p>{{post.user_id.username}}</p>
                <p>{{post.created_at | date: 'short'}}</p>
              </div>
              <div *ngIf="post.user_id._id !== loggedId" class="buttons buttons-fb">
                <button
                  *ngIf="!userService.followings.get(post.user_id._id)"
                  (click)="userService.follow(post.user_id._id)">
                  <img loading="lazy" src="assets/icons/feed/agregar-usuario.png">Follow
                </button>
                <button
                  *ngIf="userService.followings.get(post.user_id._id)"
                  (click)="unfollow(post.user_id._id)">
                  <img loading="lazy" src="assets/icons/feed/agregar-usuario.png">Unfollow
                </button>
                <button
                  *ngIf="!userService.blocks.get(post.user_id._id)"
                  (click)="block(post.user_id._id)">
                  <img loading="lazy" src="assets/icons/feed/bloquear-usuario.png">Block
                </button>
                <button
                  *ngIf="userService.blocks.get(post.user_id._id)"
                  (click)=" block(post.user_id._id)">
                  <img loading="lazy" src="assets/icons/feed/bloquear-usuario.png">Unblock
                </button>
              </div>
              <div *ngIf="post.user_id._id === loggedId" class="buttons buttons-fb">
                <button
                  (click)="delete(post._id)">
                  <img loading="lazy" src="assets/icons/feed/deletePost.png">Delete Post
                </button>
              </div>
            </div>
            <div (click)="navigatePost(post._id)" class="post-content">
              <p>{{post.content}}</p>
              <img loading="lazy" src="{{post.attached_file || ''}}">
              <div class="reaction">
                <p>
                  <img loading="lazy"
                    *ngIf="!checkIsLiked(post._id)"
                    (click)="like(post._id); $event.stopPropagation();"
                    src="assets/icons/feed/heart.png">
                  <img loading="lazy" *ngIf="checkIsLiked(post._id)"
                       (click)="unlike(post._id); $event.stopPropagation()"
                       src="../../assets/icons/feed/redFilledHeart.png">
                  {{post.likes}}
                </p>
                <p><img loading="lazy" src="assets/icons/feed/mensaje.png">{{post.comments}}</p>
              </div>
            </div>
            <hr>
          </div>
          <div class="emptyContainer" style="margin-bottom: 10rem">
            <h3>Oops... Nothing to show here yet!</h3>
            <img src="./assets/empty-placeholder.png" id="emptyImg">
          </div>
        </div>
        <div *ngIf="userService.blocks.get(id!)">
          <img
            src="./assets/blockedUser.webp"
            alt="blocked-user.png"
            style="width: 100%; height: 500px;"
          >
        </div>
      </div>
    </div>
    <app-post-detail
      *ngIf="viewing_post"
      [data] = data
      [isLiked] = checkIsLiked(data.idPost)
      (viewing_post)="backEvent($event)"
      (liked_post)="like($event)"
      (unliked_post)="unlike($event)"
      (delete_post)="deletePostEvent($event)"
      (comment_update)="commentEvent($event)">
    </app-post-detail>
    <app-rank (pageChanged)="refreshData()"></app-rank>
  </div>
</div>
