<app-navbar></app-navbar>

<div class="background-img-container">
  <div class="edit-icon-container">
    <img src="assets/icons/feed/editing.png">
  </div>
  <img src="assets/bg_default.jpg">
</div>

<div class="content-container">
  <div class="content">
    <app-profile [id]="id" [image]="image" (imageChange)="imageChangeEvent($event)"></app-profile>
    <div *ngIf="!viewing_post" class="feed-container">
      <div class="header"></div>
      <div class="feed">
        <div *ngIf="mine" class="my-post">
          <div class="img-post">
            <div class="profile-img">
              <img [src]="image">
            </div>
            <div>
              <textarea name="post" id="post" placeholder="Write here..." #postArea></textarea>
            </div>
          </div>
          <div class="post-buttons">
            <div class="attach-post">
              <div>
                <label for="image" class="red-button">
                  <img src="assets/icons/feed/imagen.png">
                  Image
                  <input type="file" id="image" style="display: none" #fileInput>
                </label>
              </div>
              <div><button type="button" class="red-button"><img src="assets/icons/feed/clip.png">Document</button></div>
            </div>
            <div class="post">
              <button (click)="post()" class="white-button">Post</button>
            </div>
          </div>
        </div>
        <div *ngIf="mine" class="buttons">
          <button (click)="activeArray = feed" [ngClass]="activeArray === feed ? 'active' : ''">Feed</button>
          <button (click)="activeArray = posts" [ngClass]="activeArray === posts ? 'active': ''">My Posts</button>
        </div>
        <div class="posts">
          <div *ngFor="let post of activeArray" class="post">
            <div class="img-text">
              <img src="{{activeArray === feed ? post.user_id.profile_pic : image}}">
              <div class="text">
                <p>{{post.user_id.username}}</p>
                <p>{{post.created_at | date: 'short'}}</p>
              </div>
              <div class="buttons" id="buttons-fb">
                <button
                  *ngIf="!userService.followings.get(post.user_id._id)"
                  (click)="unfollow(post.user_id._id)">
                  <img src="assets/icons/feed/agregar-usuario.png">Follow
                </button>
                <button
                  *ngIf="userService.followings.get(post.user_id._id)"
                  (click)="unfollow(post.user_id._id)">
                  <img src="assets/icons/feed/agregar-usuario.png">Unfollow
                </button>
                <button
                  *ngIf="!userService.blocks.get(post.user_id._id)"
                  (click)="block(post.user_id._id)">
                  <img src="assets/icons/feed/bloquear-usuario.png">Block
                </button>
                <button
                  *ngIf="userService.blocks.get(post.user_id._id)"
                  (click)="block(post.user_id._id)">
                  <img src="assets/icons/feed/bloquear-usuario.png">Unblock
                </button>
              </div>
            </div>
            <div (click)="navigatePost(post._id)" class="post-content">
              <p>{{post.content}}</p>
              <img src="{{post.attached_file || ''}}">
              <div class="reaction">
                <p><img src="assets/icons/feed/heart.png">{{post.likes}}</p>
                <p><img src="assets/icons/feed/mensaje.png">{{post.comments}}</p>
              </div>
            </div>
            <hr>
          </div>
          <div class="emptyContainer" *ngIf="activeArray.length <= 0">
            <h3>Oops... Nothing to show here yet!</h3>
            <img src="./assets/empty-placeholder.png" id="emptyImg">
          </div>
        </div>
      </div>
    </div>
    <app-post-detail
      *ngIf="viewing_post"
      [idPost] = idPost
      (viewing_post)="backEvent($event)">
    </app-post-detail>
    <app-rank></app-rank>
  </div>
</div>
