<div class="settings-profile-container">
  <div class="settings-profile">
    <div class="header"></div>
    <img [src]="image">
    <div class="editable">
      <form [formGroup]="profileForm" (ngSubmit)="submit()">
        <div class="input-field">
          <input
            type="text"
            id="username"
            name="username"
            maxlength="15"
            title="Please, enter between 3 and 15 characters"
            formControlName="username"
          />
        </div>
        <div class="input-field">
          <input
            type="text"
            name="name"
            id="name"
            title="Please, enter between 3 and 15 letters"
            formControlName="name"
          />
        </div>
        <div class="input-field">
          <input
            type="text"
            name="surname"
            pattern="[A-Za-z]{3,50}"
            title="Please, enter between 3 and 50 letters"
            formControlName="surname"
          />
        </div>
        <div class="input-field">
          <input
            type="date"
            name="date"
            id="date"
            formControlName="date"
          />
        </div>
        <div class="input-field">
          <input
            type="email"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="input-field">
          <input
            type="password"
            [value]="user.password"
            maxlength="15"
            title="Please, enter between 3 and 15 characters"
            formControlName="password"
          />
        </div>
        <div class="submit-buttons">
          <input (click)="cancel()" type="button" class="red-button" value="Ignore Changes" />
          <input type="submit" class="red-button" value="Submit Changes" />
        </div>
      </form>
    </div>
  </div>
</div>
