<nav class="nav-topBar">

  <div class="box">
    <div class="container-search">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." #searchInput/>
    </div>
  </div>

  <div class="logo">
    <a (click)="home()" style="cursor: pointer "><img loading="lazy" src="assets/logo.png"></a>
  </div>

  <div class="nav-items-topBar" id="myTopnav" #myTopnav>
    <li>
      <a href="javascript:void(0);" class="icon" id="hamburguer-icon" #hamburguerIcon>
        <i class="fa fa-bars"></i>
      </a>
    </li>
    <div class="dropdown-content">
      <li><img loading="lazy" src="assets/icons/navbar/home.png"><a (click)="navigateHome()" style="cursor: pointer">Home</a></li>
      <li><img loading="lazy" src="assets/icons/navbar/contact.png"><a routerLink="/contact">Contact</a></li>
      <li><img loading="lazy" src="assets/icons/navbar/settings.png"><a routerLink="/settings">Settings</a></li>
    </div>
  </div>

</nav>
