.loader{
  margin: 30px 30px;
}
.loader-title{
  display: inline-flex;
}
.loader-title ngx-skeleton-loader:last-child{
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.loader-content ngx-skeleton-loader:last-child{
  display: flex;
  justify-content: end;
}

hr{
  border-top: none;
  border-color: #EF443C;
}
