* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

h1,h2, button, textarea, a, li{
  font-family: "Poppins";
}

button{
  font-size: 12px;
}

hr{
  height: 0.5px;
  width: 100%;
  background-color: #EF443C;
  border: none;
}

button:hover{
  cursor: pointer;
}

.white-button, .red-button:hover{
  background-color: white;
  color: #EF443C;
  border: 1px #EF443C solid;
  border-radius: 50px;
  padding: 6px;
  width: fit-content;
}


.red-button, .white-button:hover{
  background-color: #EF443C;
  color: white;
  border-radius: 50px;
  padding: 6px;
  width: fit-content;
  border: 1px #EF443C solid;
}

/* settings */

.settings{
  display: flex;
  flex-direction: row;
  margin: 66px;
  gap: 2rem;
  justify-content: center;
}

.menu-buttons{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.settings
.settings-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: -1px 1px 15px -4px rgba(0,0,0,0.75);
  width: 320px;
  height: 500px;
  border-radius: 20px;
  margin-left: 42px;
}

.settings .settings-container >
.img{
  background-color: #EF443C;
  padding: 30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.settings .settings-container .img
> img{
  width: 193px;
  display: block;
  margin: auto;
  margin-top: 24px;
}

.settings .settings-container
.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.menu-buttons button[disabled]{
  cursor: auto;
  background-color: #e0e0e0;
  border: #e0e0e0;
  color: white;
}

.settings .settings-container .text
h1{
  color: #EF443C;
  font-size: 30px;
}

.settings .settings-container .text
ul{
  list-style-type: none;
  margin-top: 5px;
  text-align: center;
}

.settings .settings-container .text ul
li button{
  margin-top: 10px;
  width: 110px;
  font-size: 14px;
}

.settings .settings-container .text ul
li button:active{
  background-color: #EF443C;
  color: white;
  border-radius: 50px;
  padding: 6px;
  border: 1px #EF443C solid;
}

@media (max-width: 1300px){

  /* SETTINGS CONTAINER */
  .settings {
    flex-direction: column !important;
    align-items: center;
    gap: 44px;
    margin-bottom: 100px;
  }

  .settings .settings-container {
    width: 95%;
    height: 333px;
    margin: 0;
  }

  .settings .settings-container .img > img {
    position: absolute;
    top: -21%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .settings .settings-container > .img {
    height: 23%;
    position: relative;
  }

  .settings .settings-container .text {
    margin-top: 95px;
  }

  .settings .settings-container .text ul {
    display: flex;
    gap: 43px;
    width: 80%;
    justify-content: center;
  }

  .settings .settings-container .text ul li button {
    margin-top: 27px;
    width: 120px;
    font-size: 17px;
  }

  .data-container{
    width: 95%;
  }

  /* SECTIONS */

  .settings .settings-profile-container {
    width: 95%;
  }

  .settings .settings-profile-container .settings-profile {
    width: 100% !important;
  }

  .settings .settings-profile-container .settings-profile > img {
    left: 50% !important;
    transform: translate(-50%, 0%);
  }

  .settings .settings-profile-container .settings-profile .editable form .submit-buttons {
    width: 80%;
    justify-content: center;
  }
}

@media (max-width: 822px){

  /* Settings container */
  .settings .settings-container {
    height: 300px;
  }

  .settings .settings-container .text h1 {
    font-size: 26px;
  }

  .settings .settings-container .text ul {
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
  }

  .settings .settings-container .text ul li button {
    margin-top: 6px;
    width: 100px;
    font-size: 15px;
    padding: 3px;
  }

  .settings .settings-container .img > img {
    width: 153px;
    display: block;
    margin: auto;
    margin-top: 24px;
  }

  .settings .settings-container .text {
    margin-top: 74px;
  }

  /* sections */
  .settings .settings-profile-container .settings-profile .editable form .submit-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .settings .settings-profile-container .settings-profile {
    height: 535px !important;
  }

  .settings .settings-profile-container .settings-profile > img {
    width: 110px !important;
    height: 110px !important;
  }
}


@media (max-width: 420px){
  /* settings */
  .settings .settings-container {
    height: 384px !important;
  }

  .settings .settings-container .img > img {
    width: 120px;
    margin-top: 43px;
  }

  /* sections */
  .settings .settings-profile-container .settings-profile > img {
    width: 90px !important;
    height: 90px !important;
    top: 36px !important;
  }

  .settings .settings-profile-container .settings-profile .editable {
    margin-top: 73px !important;
  }

  .settings .settings-profile-container .settings-profile .editable form input {
    font-size: 12px !important;
  }

  .settings .settings-profile-container .settings-profile .editable form input[type=submit] {
    font-size: 12px !important;
  }
}
